* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

body {
  background: linear-gradient(90deg, #1877d6 0%, #efae20 100%);
}